extends layout

block content
  h1=title

  form(method='POST' action='')
    if booking.status=='Available'
        div.form-group
          label(for='aud') Аудитория:
          input#aud.form-control(type='text', placeholder='Введите слово N аудитория' , readonly class="form-control-plaintext", name='aud', required='true' value=(booking.aud) )
        div.form-group
          label(for='owner') Name:
          input#owner.form-control(type='text', placeholder='enter name' name='owner' required='true' value=(undefined) )
        div.form-group
          label(for='time') Time:(enter hour 9-21):
          input#time.form-control(type='text', placeholder='enter time' name='time' required='true' value=(undefined) )
        
        button.btn.btn-primary(type='submit') Забронировать
    else
       span.text-warning Извините, аудитория уже забронирована


  if errors
    ul
      for error in errors
        li!= error.msg

  footer.footer
    button(class="button-number")
      a(href="tel:+73433899467", style="color: black", target="_blank") Деканат
    p(class="author") &#169; Матушкин Никита КН-303