extends layout

block content
  if error
    p Error getting dynamic content.
  else
    ul
      li #[strong Свободные аудитории:] !{data.booking_available_count}

    .wrapper.info
      input#slide1(type='radio', name='point', checked='')
      input#slide2(type='radio', name='point')
      .slider
        .slides.slide1
        .slides.slide2
      .controls
        label(for='slide1')
        label(for='slide2')


    section(class="project")
         
        div(class="content")
            div(class="card no-top-padding")
                form(target="_blank", action="/mainpage/contacts")
                    button(class="card-image teacher")
           
            div(class="card no-right-margin no-top-padding")
                form(target="_blank", action="/mainpage/booking")
                    button(class="card-image booking")

    section(class="end-main")
        button(class="button-number")
            a(href="tel:+73433899467", style="color: black", target="_blank") Деканат
        p(class="author") &#169; Матушкин Никита КН-303
